/*!
Theme Name: Rara Readable
Theme URI: https://rarathemes.com/wordpress-themes/rara-readable/
Author: Rara Theme
Author URI: https://rarathemes.com/
Description: Rara Readable is a clean and minimalist free WordPress blog theme. The theme is designed for distraction-free reading and focuses on better user engagement and experience. The theme is easy on eye and a pleasure to read with its clutter-free design focused on the content with neat fonts and subtle color scheme. The theme is very lightweight and loads quickly improving the overall user experience. The theme has a responsive design and SEO-friendly optimized codes. Rara Readable is Schema friendly so that your website ranks better on search engines. It is also WooCommerce compatible and translation ready. Apart from personal blog, it is also suitable for different kinds of blogs such as lifestyle, travel, food, fashion, photography, beauty, make-up, parenting or cooking blog. Check the demo at https://rarathemes.com/previews/?theme=rara-readable, documentation at https://docs.rarathemes.com/docs/rara-readable/, and get support at https://rarathemes.com/support-ticket/.
Version: 1.1.3
Requires PHP: 5.6
Tested up to: 5.7
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: rara-readable
Tags: custom-background, custom-logo, custom-menu, custom-header, full-width-template, two-columns, featured-images, featured-image-header, threaded-comments, translation-ready, footer-widgets, theme-options, rtl-language-support, blog, e-commerce, education

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Rara Readable is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries
    --------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
optgroup,
textarea {
    color: #565656;
    font-family: 'Georgia', serif;
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #111111;
    margin: 0.67em 0;
    line-height: 1.2;
}

h1 {
    font-size: 2.1875em;
}

h2 {
    font-size: 1.5625em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

.halfwidth {
    width: 50%;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ebebeb;
    border: 0;
    height: 1px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: top;
}

figure {
    margin: 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    border-radius: 10px;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    border-collapse: separate;
}

table tr th {
    font-weight: 700;
    color: #fff;
    background: #1c1b1b;
    letter-spacing: 0.8px;
    padding: 20px 10px;
}

table tr th:nth-child(2n) {
    background: #373737;
}

table tr td {
    color: #888686;
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    border-bottom: none;
}

table tr td:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

table tr:last-child td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    border-radius: 40px;
    background: #06c286;
    border: 2px solid #06c286;
    color: #fff;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 13px 40px;
    line-height: 20px;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: none;
    color: #06c286;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: none;
    outline: 0;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: thin dotted #000;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #222;
    border: 1px solid #cbcdd1;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    height: 50px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #222;
    outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
    outline: thin dotted #000;
}

select {
    border: 1px solid #cbcdd1;
    width: 100%;
}

textarea {
    width: 100%;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: inherit;
    text-decoration: none;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
}

a:visited {
    color: inherit;
}

a:hover,
a:focus,
a:active {
    color: inherit;
}

a:focus {
    outline: thin dotted #000;
}

a:hover,
a:active {
    outline: 0;
}

a:hover {
    color: #06c286;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    /*overflow: hidden;*/
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}


/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
    outline: 0;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clearfix:before,
.clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.blog-wrapper:before,
.blog-wrapper:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clearfix:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.blog-wrapper:after {
    clear: both;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 60px 0;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
    display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}


/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    max-width: 100%;
}


/* Make sure logo link wraps around logo image. */

.custom-logo-link {
    display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    line-height: initial;
}

.wp-caption-text {
    text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    padding: 3px;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
    padding: 20px;
    background: rgba(0, 0, 0, 0.15);
}

body.custom-background .site {
    background: #fff;
    width: 1400px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}


/*=============================
COMMON CSS
=============================*/

.blog-wrapper {
    width: 900px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

iframe {
    width: 100%;
}

.entry-title {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    font-weight: 700;
}

.entry-meta>span {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: middle;
    color: #777777;
}

.entry-meta>span:last-child {
    margin-right: 0;
}

.entry-meta>span svg,
.entry-meta>span.category span {
    margin-right: 8px;
}

.entry-meta>span.category a {
    display: inline-block;
    margin-right: 2px;
}

.entry-meta>span.category a:after {
    content: ",";
}

.entry-meta>span.category a:last-child:after {
    display: none;
}

.entry-meta>span.byline img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 100%;
}

a.bttn {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: #06c286;
    color: #fff;
    padding: 8px 35px;
    border: 2px solid #06c286;
    border-radius: 40px;
    margin-right: 10px;
}

a.bttn:hover {
    background: none;
    color: #06c286;
}

.page-header .page-title {
    font-size: 35px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

#primary {
    margin-bottom: 120px;
}

blockquote {
    background: #f6f6f6;
    padding: 40px 60px;
    margin: 30px 0;
    font-style: italic;
    color: #5a5a5a;
    border-radius: 10px;
    position: relative;
    display: table;
    width: 100%;
}

blockquote:before {
    content: "";
    background: url(images/blockquote-before.png) no-repeat;
    width: 25px;
    height: 14px;
    display: table-cell;
    margin-right: 8px;
    margin-top: 2px;
}

blockquote p {
    margin-bottom: 15px;
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.highlight {
    background: #e6f9f3;
    border-radius: 5px;
    padding: 5px;
}

ol li {
    margin-bottom: 10px;
}


/*============================
SIDEBARS
============================*/

.rightsidebar #primary {
    width: 75%;
    padding-right: 40px;
    float: left;
}

.leftsidebar #primary {
    width: 75%;
    padding-left: 40px;
    float: right;
}

.rightsidebar #secondary,
.leftsidebar #secondary {
    float: left;
    width: 25%;
    margin-bottom: 60px;
}


/*=========================
WIDGETS
=========================*/

.widget-title {
    font-size: 0.9em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.site-footer .widget-title {
    color: #fff;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li {
    position: relative;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 13px;
}

.widget ul li:before {
    content: "";
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23565656" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg>');
    background-repeat: no-repeat;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
}

.widget .post-date {
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #999;
    margin-top: 3px;
}


/*============================
BREADCRUMB
============================*/

.breadcrumb {
    margin-bottom: 10px;
}

.breadcrumb #crumbs {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    color: #000;
}

.breadcrumb #crumbs .separator {
    color: #777;
    margin: 0 5px;
}

#crumbs a {
    color: #777;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

#crumbs .current a {
    pointer-events: none;
    cursor: default;
    color: #06c286;
}

/*============================
PAGINATION NUMBER SECTION
============================*/

nav.pagination {
    position: relative;
    text-align: center;
    z-index: 1;
    display: table;
    clear: both;
    width: 100%;
}

nav.pagination:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
}

nav.pagination .nav-links {
    display: inline-block;
    background: #fff;
    padding: 0 25px;
}

nav.pagination .page-numbers {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
    font-weight: 600;
    color: #5a5a5a;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

nav.pagination .page-numbers:last-child {
    margin-right: 0;
}

nav.pagination .page-numbers:hover,
nav.pagination .page-numbers.current {
    background: #06c286;
    border-color: #06c286;
    color: #fff;
}

.site-main .posts-navigation {
    border-top: 1px solid #eee;
    padding-top: 50px;
    display: table;
    width: 100%;
    clear: both;
    overflow: visible;
}

.posts-navigation div[class*="nav-"]>a {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: relative;
    border: 2px solid;
    padding: 12px 25px 12px 37px;
    border-radius: 50px;
}

.posts-navigation div.nav-next>a {
    padding-left: 25px;
    padding-right: 37px;
}

.posts-navigation div[class*="nav-"]>a:before {
    content: "";
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="%23565656" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg>');
    background-repeat: no-repeat;
    font-size: 16px;
    position: absolute;
    top: 15px;
    line-height: 19px;
    left: 24px;
    width: 16px;
    height: 16px;
}

.posts-navigation div.nav-next>a:before {
    content: "\f105";
    left: auto;
    right: 24px;
}

.posts-navigation div[class*="nav-"]>a:after {
    content: "";
    border: 2px solid;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 50px;
}

.posts-navigation div[class*="nav-"]>a:hover:after {
    border-width: 5px;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
}

.site-main nav.post-navigation {
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #ebebeb;
    padding-top: 50px;
}

.post-navigation .nav-links:after {
    display: block;
    clear: both;
    content: '';
}

.post-navigation a {
    position: relative;
    display: inline-block;
    padding: 10px 10px 10px 20px;
}

.post-navigation .nav-next a {
    padding: 10px 20px 10px 10px;
}

.post-navigation a:before {
    content: "";
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23454545" d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z"></path></svg>');
    line-height: 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 0;
    width: 12px;
    height: 12px;
}

.post-navigation .nav-next a:before {
    content: "";
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23454545" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"></path></svg>');
    left: auto;
    right: 0;
}


/*===========================
TOP HEADER SECTION
===========================*/

.header-t {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-responsive {
    display: none;
}

nav.main-navigation {
    float: left;
    width: 70%;
}

button.toggle-button {
    display: none;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation ul li {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-transform: capitalize;
}

.main-navigation ul li a {
    display: inline-block;
    vertical-align: middle;
    padding: 15px 14px;
    color: #979797;
}

.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current_page_item a,
.main-navigation ul li.menu-item-has-children:hover>a,
.main-navigation ul li a:hover {
    color: #111111;
}

.main-navigation ul li ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 230px;
    background: #f3f3f3;
    opacity: 0;
    margin-left: -9999px;
}

.main-navigation ul li ul ul {
    top: 0;
    left: 100%;
}

.main-navigation ul li:hover>ul {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    z-index: 9999;
    margin-left: 0;
}

.main-navigation ul li:focus-within>ul {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    z-index: 9999;
    margin-left: 0;
}

.main-navigation ul li.focus>ul {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    z-index: 9999;
    margin-left: 0;
}

.main-navigation ul ul li {
    display: block;
    font-size: 16px;
}

.main-navigation ul ul li a {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-t-search {
    float: right;
    width: 30%;
}

form.search-form:before,
form.search-form:after {
    content: "";
    display: table;
}

form.search-form:after {
    clear: both;
}

form.search-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    overflow: hidden;
}

.header-t-search form.search-form {
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    overflow: visible;
    z-index: 999;
    background: #fff;
}

form.search-form input.search-field {
    background: none;
    border: none;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    float: left;
    width: calc(100% - 25px);
    padding-left: 0;
}

.header-t-search form.search-form input.search-field {
    font-weight: 400;
    padding-left: 15px;
}

form.search-form input.search-field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8b8b8b;
}

form.search-form input.search-field::-moz-placeholder {
    /* Firefox 19+ */
    color: #8b8b8b;
}

form.search-form input.search-field:-ms-input-placeholder {
    /* IE 10+ */
    color: #8b8b8b;
}

form.search-form input.search-field:-moz-placeholder {
    /* Firefox 18- */
    color: #8b8b8b;
}

.header-t-search form.search-form label[for="submit-field"]:hover {
    color: #06c286;
}

.header-t-search form.search-form input.search-field::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #686868;
}

.header-t-search form.search-form input.search-field::-moz-placeholder {
    /* Firefox 19+ */
    color: #686868;
}

.header-t-search form.search-form input.search-field:-ms-input-placeholder {
    /* IE 10+ */
    color: #686868;
}

.header-t-search form.search-form input.search-field:-moz-placeholder {
    /* Firefox 18- */
    color: #686868;
}

form.search-form input.search-field:focus::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #222;
}

form.search-form input.search-field:focus::-moz-placeholder {
    /* Firefox 19+ */
    color: #222;
}

form.search-form input.search-field:focus:-ms-input-placeholder {
    /* IE 10+ */
    color: #222;
}

form.search-form input.search-field:focus:-moz-placeholder {
    /* Firefox 18- */
    color: #222;
}

form.search-form label[for="submit-field"] {
    float: left;
    width: 25px;
    height: 45px;
    position: relative;
    text-align: right;
    font-size: 14px;
    line-height: 45px;
    color: #979797;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
}

.header-t-search form.search-form label[for="submit-field"] {
    color: #5a5a5a;
}

form.search-form label[for="submit-field"]:hover {
    color: #06c286;
}

form.search-form input.search-submit {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    border-radius: 0;
    padding: 0;
    text-indent: 70px;
    width: 60px;
    overflow: hidden;
    background: none;
    border: none;
}


/*===========================
MAIN HEADER SECTION
===========================*/

.main-header {
    padding: 30px 0 40px 0;
}

.main-header .site-branding {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.site-branding .site-title {
    margin: 0;
    font-size: 30px;
    font-family: 'Georgia', serif;
    color: #222;
    font-weight: 700;
}

.site-branding .site-description {
    margin: 3px 0 0 0;
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    color: #777;
}

.main-header .header-social {
    display: inline-block;
    vertical-align: middle;
    width: 54%;
    text-align: right;
}

ul.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.social-icons li {
    display: inline-block;
    margin-left: 5px;
    padding-left: 0;
    vertical-align: middle;
}

.widget_rara_readable_pro_social_links ul.social-icons li:before {
    display: none;
}

ul.social-icons li a {
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    color: #5a5a5a;
    font-size: 18px;
}

ul.social-icons li a:hover {
    border-color: #06c286;
    color: #fff;
    background: #06c286;
}


/*============================
ARTICLE WRAP
============================*/

article.post {
    margin-bottom: 120px;
    text-align: center;
}

article.post:last-child {
    margin-bottom: 80px;
}

figure.post-thumbnail,
.grid-with-feat-post .featured-post figure.post-thumbnail {
    /*overflow: hidden;*/
    border-radius: 11px;
    margin-bottom: 55px;
    text-align: center;
    display: inline-block;
}

article.post .article-content,
.grid-with-feat-post .featured-post article.post .article-content {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

article.post header.entry-header {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

article.post .entry-content,
article.page .entry-content {
    margin: 0;
}

article.post .entry-content p:first-child,
article.page .entry-content p:first-child {
    margin-top: 0;
}

article.post .entry-content p:last-child,
article.page .entry-content p:first-child {
    margin-bottom: 0;
}

article.post .entry-footer,
.grid-with-feat-post .featured-post article.post .entry-footer {
    margin-top: 46px;
}

.article-share {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.article-share svg.fa-share {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 100%;
    line-height: 50px;
    font-size: 14px;
    color: #5a5a5a;
    cursor: pointer;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
}

.article-share svg.fa-share:hover {
    background: #06c286;
    color: #fff;
    border-color: #06c286;
}

.article-share.share-active svg.fa-share {
    opacity: 0;
    visibility: hidden;
}

.article-share ul.social-icons {
    position: absolute;
    width: 275px;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: rotateY(-80deg);
    -webkit-transform: rotateY(-80deg);
    -moz-transform: rotateY(-80deg);
    transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
}

.article-share.share-active ul.social-icons {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    z-index: 9;
}

.article-share ul.social-icons li {
    transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    margin: 0 5px;
}

.article-share.share-active ul.social-icons li {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.article-share ul.social-icons li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
}


/*============================
FOOTER SECTION
============================*/

footer.site-footer {
    background: #262626;
}

footer.site-footer a:focus {
    outline: thin dotted #fff;
}

.site-footer .top-footer {
    padding: 90px 0 50px 0;
}

.top-footer .blog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.top-footer .widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px;
    color: #aaa;
}

.top-footer form.search-form {
    border-color: rgba(255, 255, 255, 0.1);
}

.top-footer form.search-form input.search-field,
.top-footer form.search-form input.search-field:focus {
    color: #fff;
}

.bottom-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 25px 0;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #aaaaaa;
}

.footer-copyright {
    text-align: center;
}

.footer-author {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 49.33%;
}


/*===========================
ERROR 404 PAGE
===========================*/

.error404 .site-header {
    border-bottom: 1px solid #ddd;
}

.error404 .site-content {
    margin-top: 60px;
}

.error404 header.page-header {
    margin-bottom: 60px;
}

.error404 figure.error-404-img {
    display: inline-block;
    vertical-align: top;
    width: 299px;
}

.error404 .page-content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 305px);
    padding-left: 77px;
    margin-top: 0;
}

.error404 .page-content h3 {
    font-size: 1.2em;
    line-height: 1.29167;
    margin-top: 0;
    margin-bottom: 10px;
}

.error404 .page-content p {
    margin-top: 0;
    margin-bottom: 30px;
}

.error404 .page-content form.search-form {
    margin-bottom: 40px;
}


/*============================
LIST VIEW LAYOUT
============================*/

.list-view article.post,
.search-results article {
    margin-bottom: 80px;
}

.list-view figure.post-thumbnail,
.search-results figure.post-thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 319px;
    margin-bottom: 0;
}

figure.post-thumbnail img {
    border-radius: 11px;
}

.list-view article.post .article-content,
.search-results article .article-content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 325px);
    padding-left: 55px;
}

.list-view article.post header.entry-header,
.search-results article header.entry-header {
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.list-view .entry-title,
.search-results article .entry-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.list-view .entry-meta>span,
.search-results .entry-meta>span {
    margin-right: 25px;
}

.list-view .entry-meta>span.category span,
.search-results .entry-meta>span.category span {
    display: none;
}

.list-view article.post .entry-footer,
.search-results article .entry-footer {
    margin-top: 26px;
}

.list-view a.bttn {
    padding-left: 30px;
    padding-right: 30px;
}

.list-view .article-share svg.fa-share,
.list-view .article-share ul.social-icons li a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
}

/*=======================
SEARCH PAGE
=======================*/

.search .page-header .page-title {
    margin-bottom: 10px;
}

.search .entry-content {
    margin-top: 0;
    margin-bottom: 40px;
}

.search .entry-content p {
    margin: 0;
}

.search-results .site-content form.search-form,
.search-no-results .site-content form.search-form {
    margin-bottom: 80px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.search-results .site-content form.search-form input.search-field,
.search-no-results .site-content form.search-form input.search-field {
    height: 60px;
    padding-left: 30px;
    width: calc(100% - 60px);
}

.search-results .site-content form.search-form label[for="submit-field"],
.search-no-results .site-content form.search-form label[for="submit-field"] {
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    padding-right: 10px;
}


/*=========================
SINGLE PAGE
=========================*/

body.single header.site-header {
    border-bottom: none;
}

body.single #primary {
    margin-top: 0;
}

body.single.no-image #primary {
    border-top: 1px solid #ebebeb;
    padding-top: 65px;
}

.single article.post {
    margin-bottom: 0;
}

.single .site-main .entry-content a {
    color: #06c286;
}

.single .article-share {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 20px;
}

.single .entry-footer h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
}

.single .article-share ul.social-icons {
    background: none;
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    width: auto;
    box-shadow: none;
    padding: 0;
}

.single .article-share ul.social-icons li {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

.single .article-share ul.social-icons li:first-child {
    margin-left: 0;
}

.single .article-share ul.social-icons li a {
    border-width: 1px;
    font-size: 18px;
}

.single .tag-group {
    display: inline-block;
    vertical-align: top;
    width: 49.33%;
}

a.tags {
    display: inline-block;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    padding: 4px 15px;
    border-radius: 40px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #5a5a5a;
    vertical-align: middle;
}

a.tags:hover {
    background: #06c286;
    border-color: #06c286;
    color: #fff;
}

.single .article-author {
    border-top: 1px solid #ebebeb;
    padding: 60px 90px 0 90px;
    margin: 60px 0 0 0;
}

.article-author figure.author-img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.article-author .author-info {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 85px);
    padding-left: 20px;
}

.author-info h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5px;
}

.author-info p {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
}

.single blockquote {
    margin: 60px 0;
}


/*==========================
RELATED POSTS
==========================*/

.related-posts {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid #ebebeb;
}

.related-posts .related-title {
    margin-top: 0;
    font-size: 1.25em;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.related-posts .related-post-block {
    float: left;
    width: 30.66%;
    margin-right: 4%;
    text-align: center;
}

.related-posts .related-post-block:nth-child(3n) {
    margin-right: 0;
}

.related-posts figure.post-thumbnail {
    margin-bottom: 15px;
}

.related-posts .related-post-title {
    font-size: 0.8em;
    font-weight: 600;
    margin: 0;
    text-align: left;
}


/*==========================
COMMENTS AREA
==========================*/

.comments-area {
    font-family: 'Open sans', sans-serif;
}

.comments-area .comments-title {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.25em;
    margin-bottom: 30px;
}

.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area ol.children {
    margin-top: 10px;
    margin-left: 75px;
}

.comment-list li.comment {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.comment-list li.comment:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.comment-list article.comment-body {
    padding-left: 75px;
    position: relative;
}

.comment-list .bypostauthor article.comment-body {
    padding-left: 105px;
}

.comment-author img {
    width: 60px;
    border-radius: 100%;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
}

.bypostauthor .comment-author img {
    top: 30px;
    left: 30px;
}

.comment-author b.fn {
    display: inline-block;
    vertical-align: top;
    color: #111;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}

.comment-author b.fn span.says {
    display: none;
}

.comment-list .comment-metadata:before {
    content: "";
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23777" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg>');
    vertical-align: top;
    margin-right: 0;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3px;
}

.comment-list .comment-metadata {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

.comment-list .reply {
    position: absolute;
    top: 27px;
    right: 0;
    font-size: 14px;
    color: #777;
}

.comment-list .reply a.comment-reply-link:before {
    content: "";
    background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23777" d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    font-size: 11px;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    display: inline-block;
}

p.comment-awaiting-moderation {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
    color: #06c286;
}

.comment-content {
    font-size: 14px;
}

.comment-list li:last-child .comment-content p {
    margin-bottom: 0;
}

.comment-respond {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    padding-top: 60px;
}

.comment-respond .comment-reply-title {
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0px;
}

.comment-reply-title small {
    font-size: 14px;
    margin-left: 20px;
    border-radius: 40px;
    vertical-align: top;
    display: inline-block;
}

.comment-reply-title small a {
    display: inline-block;
    border-radius: 40px;
    padding: 7px 15px;
    border: 2px solid #333;
    color: #333;
}

.comment-reply-title small a:hover {
    border-color: #06c286;
    color: #06c286;
}

.comment-form p.comment-notes,
.comment-form p.logged-in-as {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 25px;
}

.comment-respond p.comment-form-author,
.comment-respond p.comment-form-email,
.comment-respond p.comment-form-url {
    display: inline-block;
    width: 30.9%;
    margin-right: 3%;
    margin-bottom: 30px;
    margin-top: 0;
}

.comment-respond p.comment-form-url {
    margin-right: 0;
}

.comment-respond p.comment-form-comment {
    margin: 0;
}

.comment-form p label {
    display: none;
}

.comment-form input,
.comment-form textarea {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
}

.comment-respond p.comment-form-comment textarea {
    height: 150px;
}

.comment-respond p.form-submit {
    margin-bottom: 0;
    margin-top: 40px;
}

.comment-form input[type="submit"] {
    font-size: 16px;
}

.comments-area .comment-form .comment-form-cookies-consent {
    margin-top: 0;
}

.comments-area .comment-form label[for="wp-comment-cookies-consent"] {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}

.site-footer .footer-author .policy_link {
    display: inline-block;
    margin-left: 5px;
}


/*======================
WIDGET ARCHIVE
======================*/

.widget-area .widget_archive {
    background: #f8f8f8;
    border-radius: 15px;
    padding: 30px 40px;
}

.widget ul li.menu-item-has-children ul li:first-child,
.widget ul li.page_item_has_children ul li:first-child {
    margin-top: 10px;
}


/*=======================
WIDGET CALENDAR
========================*/

.widget_calendar table {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.widget_calendar .wp-calendar-nav {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    background: #f8f8f8;
    border-radius: 0 0 10px 10px;
    font-family: Open Sans;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.widget_calendar .wp-calendar-nav span {
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

.widget_calendar .wp-calendar-nav span.wp-calendar-nav-prev {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    width: 42%;
}

.widget_calendar .wp-calendar-nav span.wp-calendar-nav-next {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    width: 42%;
}

.widget_calendar .wp-calendar-nav span a {
    color: #333;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.widget_calendar .wp-calendar-nav span a:hover {
    color: #06c286;
}

.widget_calendar table caption {
    font-weight: 600;
    background: #f8f8f8;
    padding: 10px 5px;
    color: #111111;
    border: 1px solid rgba(222, 222, 222, 0.3);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.widget_calendar table tr th,
.widget_calendar table tr td {
    padding: 10px 5px;
}

.widget_calendar table tbody tr:last-child td {
    border-bottom: none;
}

.widget_calendar table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0;
}

.widget_calendar table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0;
}

.widget_calendar table tfoot tr td {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    background: #f8f8f8;
}


/*============================
WIDGET TAG CLOUD
============================*/

.widget_tag_cloud a {
    display: inline-block;
    vertical-align: middle;
    /*font-size: 14px !important;*/
    font-family: 'Open sans', sans-serif;
    padding: 5px 20px;
    border: 1px solid rgba(222, 222, 222, 0.2);
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 40px;
    color: #5a5a5a;
}

.top-footer .widget_tag_cloud a {
    color: #aaa;
}

.widget_tag_cloud a:hover,
.top-footer .widget_tag_cloud a:hover {
    background: #06c286;
    border-color: #06c286;
    color: #fff;
}


/*=============================
WIDGET TEXT
==============================*/

.widget_text .textwidget {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
}

.widget_text .textwidget p {
    margin-top: 20px;
    margin-bottom: 0;
}

.top-footer .widget_text .textwidget {
    color: #aaaaaa;
}


/*=============
header layouts
===========================*/

.site-header .sidebar-wrap {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    border-left: 1px solid #dedede;
    padding: 40px 0;
    background: #fff;
    width: 320px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
}

.sidebar-wrap .sidebar {
    height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
}

.nicescroll-rails {
    display: block !important;
    opacity: 1 !important;
    margin-left: -5px !important;
}

.nicescroll-rails .nicescroll-cursors {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.nicescroll-rails .nicescroll-cursors:hover {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.nicescroll-rails+div {
    display: none;
}

.admin-bar .site-header .sidebar-wrap .sidebar {
    padding-top: 50px;
}

.admin-bar .site-header .sidebar-wrap button.toggle-button {
    top: 35px;
}

.site-header .sidebar-wrap.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.site.sidebar-active {
    position: relative;
}

.site.sidebar-active .overlay {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 999;
}

.site-header .sidebar-wrap.active .toggle-button {
    display: block;
}

.site-header .sidebar-wrap button.toggle-button {
    background: none;
    border: none;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    position: fixed;
    top: 0;
    right: 20px;
    cursor: pointer;
}

.site-header .sidebar-wrap button.toggle-button:focus {
    outline: thin dotted #000;
}

.site-header .sidebar-wrap.active button.toggle-button .toggle-bar {
    background: #999;
    width: 25px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.site-header .sidebar-wrap.active button.toggle-button .toggle-bar:first-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.site-header .sidebar-wrap.active button.toggle-button .toggle-bar:nth-child(2) {
    display: none;
}

.site-header .sidebar-wrap.active button.toggle-button .toggle-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.site-header .sidebar-wrap.active button.toggle-button:hover .toggle-bar {
    background: #111;
}

.main-header .blog-wrapper {
    position: relative;
}

.main-header .blog-wrapper:after {
    display: block;
    content: '';
    clear: both;
}

.header-1 .main-header .sidebar-toggleButton {
    float: right;
    border: 2px solid #dfdfdf;
    background: none;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    color: #06c286;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    margin-top: 20px;
    padding: 0;
}

.header-1 .main-header .sidebar-toggleButton {
    margin-top: 5px;
}

.header-1 .main-header .sidebar-toggleButton:hover {
    border-color: #06c286;
    background: #06c286;
}

.sidebar-toggleButton:hover svg {
    color: #fff;
}

.header-1 .header-icon-wrap {
    float: right;
    width: 30%;
}

.header-1 ul.social-icons li a {
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}

.header-1 ul.social-icons li a:hover {
    background: none;
    color: #06c286;
}

.header-1 ul.social-icons li:not(:last-child) {
    margin-right: 15px;
    margin-left: 0;
}

.header-1 .header-social {
    margin-top: 15px;
}

.header-1 .header-social,
.header-1 .header-t-search,
.header-1 .shopping-cart {
    width: auto;
    float: left;
}

.header-1 .shopping-cart,
.header-1 .header-t-search {

    border-right: 1px solid #dedede;
    padding: 16px 15px;
}

.header-1 .header-t-search {
    border-left: 1px solid #dedede;
    margin-left: 15px;
}

.header-1 .main-navigation ul.nav-menu>li:first-child>a {
    padding-left: 0;
}

.header-1 .header-t-search {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.header-1 .header-t-search .search-btn {
    cursor: pointer;
    padding: 16px 15px;
    display: inline-block;
    background: none;
    border: 0;
    line-height: inherit;
    color: inherit;
}

.header-1 .header-t-search .form-holder {
    position: absolute;
    right: -1px;
    top: calc(100% + 1px);
    display: none;
    border: 1px solid #dedede;
    width: 300px;
}

.header-1 .header-t-search form.search-form label[for="submit-field"] {
    display: none;
}

.header-1 .header-t-search form.search-form input.search-field {
    width: 100%;
    height: 45px;
    padding-left: 10px;
}

.header-1 nav.main-navigation {
    width: auto;
}

.header-1 .header-icon-wrap {
    width: auto;
    font-size: 16px;
}

.header-icon-wrap {
    font-size: 14px;
}

.site-header .sidebar-toggleButton {
    margin-top: 0;
    border: 0;
    width: auto;
    height: auto;
    color: #06c286;
    padding: 15px 13px;
    font-size: 16px;
    line-height: 1.2;
    display: inline-block;
    position: relative;
}

.sidebar-toggleButton span {
    display: block;
    width: 15px;
    height: 2px;
    background: #06c286;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.sidebar-toggleButton span:first-child {
    top: -10px;
}

.sidebar-toggleButton span:last-child {
    top: 10px;
}

.sidebar-toggleButton:hover span {
    background: #fff;
}


/*blog post formats*/

#primary article blockquote cite {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding-left: 8px;
    position: relative;
}

#primary article blockquote cite:before {
    width: 4px;
    margin-right: 10px;
    height: 2px;
    content: '';
    display: block;
    background: #777777;
    position: absolute;
    top: 8px;
    left: 0;
}

#primary article.format-quote .quote-wrap blockquote {
    background: none;
    border: 1px solid #ebebeb;
    border-radius: 11px;
    text-align: center;
    font-size: 25px;
    line-height: 36px;
    padding: 115px 69px 58px;
}

#primary article.format-quote .quote-wrap blockquote::before {
    height: 33px;
    width: 42px;
    background-image: url(images/quote2.png);
    position: absolute;
    top: 55px;
    left: calc(50% - 21px);
}

#primary .post.format-aside .entry-title,
#primary .post.format-status .entry-title {
    display: none;
}


/*.single-template2*/

.single-template2 .site-content .top-block {
    margin-bottom: 80px;
    position: relative;
    min-height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.single-template2 .site-content .top-block .wp-custom-header img,
.single-template2 .site-content .top-block>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.single-template2 .site-content .top-block:after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.single-template2 .site-content .top-block .text-wrap {
    position: relative;
    width: 100%;
    z-index: 10;
}

.single-template2 .site-content .top-block .text {
    /*max-width: 615px;
    margin: 0 auto;*/
}

.single-template2 .site-content .top-block .text .entry-title {
    color: #fff;
    font-size: 40px;
    line-height: 45px;
}

.single-template2 .site-content .top-block .text .byline img {
    max-width: 30px;
}

.single-template2 .site-content .top-block .text .entry-meta>span,
.single-template2 .site-content .top-block .text .entry-meta>span a {
    color: #fff;
}

.single-template2 .site-content .top-block .text .entry-meta span a:hover {
    opacity: 0.8;
}

.single-template2 .site-content .top-block .text .entry-meta span a:focus {
    outline: thin dotted #fff;
}

.single-template2 #crumbs {
    margin-bottom: 30px;
    color: #000;
}

.single-template2 #crumbs a,
.single-template2 #crumbs .separator {
    color: #777777;
}

.single-template2 #crumbs .separator {
    margin: 0 5px;
}

.single-template2 #crumbs span:last-child .separator {
    display: none;
}

.single-template2 #crumbs .current,
.single-template2 #crumbs .current a {
    color: #06c286;
}

.single-template2 .site-content article .left-panel {
    float: left;
    width: 42px;
    margin-right: 35px;
}

.single-template2 .site-content article .article-content {
    overflow: hidden;
    width: auto;
}

.single-template2 .site-content article .social-share {
    position: unset;
    margin: 0;
    padding: 0;
    visibility: visible;
    opacity: 1;
    display: block;
    font-size: 18px;
    line-height: 22px;
    right: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.single-template2 .site-content article .social-share li {
    display: block;
    width: auto;
    float: none;
    height: auto;
    margin-bottom: 10px;
}

.single-template2 .site-content article .social-share a {
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    color: #5a5a5a;
    padding: 10px 0;
}

.single-template2 .site-content article .social-share li a svg {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.single-template2 .site-content article .social-share li a:hover svg {
    color: #06c286;
}

.single-template1 .site-content article .left-panel,
.single-template2 .site-content article .left-panel {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 10px;
}



/*added css*/

.header-1 .toggle-button {
    display: none;
}

.header-1 .sidebar-wrap.active .toggle-button {
    display: block;
}

.header-1 .menu-anchor {
    display: none;
    width: 100%;
    text-align: center;
}

.header-1 .menu-anchor .toggle-button {
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin: auto;
}

.menu-anchor .toggle-button .bar {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 2px;
    background: #333;
    box-shadow: 0 5px #333, 0 -5px #333;
    position: relative;
    top: -2px;
    margin-right: 10px;
}

.menu-anchor .toggle-button:hover .bar {
    background: #06c286;
    box-shadow: 0 5px #06c286, 0 -5px #06c286;
}

.header-1 .menu-anchor .toggle-button:hover {
    background: none;
    color: #06c286;
}


/*============================
RESPONSIVE STYLESHEET
============================*/

@media screen and (max-width: 1410px) {
    body.custom-background .site {
        width: 1200px;
    }
}

@media screen and (max-width: 1210px) {
    body.custom-background .site {
        width: 95%;
    }
}

@media screen and (max-width: 1180px) {
    .blog-wrapper {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .nosidebar .site-content .blog-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .search-result figure.post-thumbnail {
        width: 30%;
    }

    .search-result article .article-content {
        width: 69%;
        padding-left: 30px;
    }
}

@media screen and (max-width: 1096px) {
    nav.main-navigation {
        width: 75%;
    }

    .main-navigation ul li a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .custom-background .main-navigation ul li a {
        padding-left: 12px;
        padding-right: 12px;
    }

    .header-t-search {
        width: 25%;
    }

    form.search-form input.search-field {
        width: calc(100% - 40px);
    }

    form.search-form label[for="submit-field"] {
        width: 40px;
    }

    .search-result .entry-meta>span {
        margin-right: 10px;
    }

    body:not(.list-view) .article-share {
        float: right;
    }

    .article-share.share-active svg.fa-share {
        opacity: 1;
        visibility: visible;
    }

    .article-share ul.social-icons {
        top: auto;
        right: 0;
        left: auto;
        white-space: normal;
        bottom: 120%;
        background: #fff;
        -webkit-transform-origin: right;
        transform-origin: right;
        width: 220px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
    }

    .article-share.share-active ul.social-icons {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    .article-share ul.social-icons li {
        margin-bottom: 5px;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .article-share.share-active ul.social-icons li {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
}

@media screen and (max-width: 980px) {
    .nosidebar .site-content .blog-wrapper {
        width: 97%;
    }

    .main-navigation ul.nav-menu>li:last-child ul {
        left: auto;
        right: 0;
    }

    .main-navigation ul.nav-menu>li:last-child ul li ul {
        right: 100%;
    }

    .main-navigation ul li {
        font-size: 16px;
    }

    .custom-background .main-navigation ul li {
        font-size: 14px;
    }

    .entry-meta>span {
        margin-right: 10px;
    }

    .list-view .article-share ul.social-icons li {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .custom-background ul.social-icons li a {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .comment-respond p.comment-form-author,
    .comment-respond p.comment-form-email,
    .comment-respond p.comment-form-url {
        width: 30.6%;
    }
}

@media screen and (max-width: 800px) {

    .rightsidebar #primary,
    .leftsidebar #primary {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        float: none;
    }

    .rightsidebar #secondary,
    .leftsidebar #secondary {
        float: none;
        width: 100%;
        margin-bottom: 70px;
    }

    a.bttn {
        padding-left: 20px;
        padding-right: 20px;
    }

    .site {
        position: relative;
        left: 0;
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
    }

    .site.toggle-active {
        background: #eee;
        left: -50%;
    }

    .site::before {
        content: "";
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
    }

    .site.toggle-active:before {
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible;
    }

    .header-1 .header-t {
        display: none;
    }

    .header-1 .header-t {
        border-bottom: none;
        position: fixed;
        background: #fff;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        overflow-y: auto;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
    }

    .admin-bar .header-1 .header-t {
        padding-top: 32px;
    }

    .toggle-active .header-1.header-t {
        visibility: visible;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
    }

    .header-t .blog-wrapper {
        padding-left: 0;
        padding-right: 0;
        margin: 60px 0 30px 0;
    }

    nav.main-navigation,
    .header-t-search {
        float: none;
        width: 100%;
    }

    .admin-bar nav.main-navigation {
        padding-top: 100px;
    }

    .header-t-search {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 30px;
    }

    .toggle-active button.toggle-button {
        background: none;
        border: none;
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .admin-bar button.toggle-button {
        top: 45px;
    }

    .toggle-active button.toggle-button .toggle-bar {
        background: #999;
        width: 25px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
    }

    .toggle-active button.toggle-button .toggle-bar:first-child {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .toggle-active button.toggle-button .toggle-bar:nth-child(2) {
        display: none;
    }

    .toggle-active button.toggle-button .toggle-bar:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .toggle-active button.toggle-button:hover .toggle-bar {
        background: #111;
    }

    .main-header .toggle-button {
        margin-left: 3px;
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        text-align: center;
        width: 56px;
        height: 56px;
        line-height: 56px;
        font-size: 20px;
        cursor: pointer;
        vertical-align: middle;
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
    }

    .main-header .toggle-button:hover {
        background: #06c286;
        border-color: #06c286;
        color: #fff;
    }

    .main-navigation ul li {
        display: block;
        font-size: 18px;
    }

    .main-navigation ul li a {
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }

    .main-navigation ul.nav-menu>li:first-child>a {
        padding-left: 25px;
    }

    .main-navigation ul li ul {
        background: rgba(0, 0, 0, 0.03);
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
    }

    .main-navigation ul li.menu-item-has-children .submenu-toggle {
        position: absolute;
        top: 13px;
        right: 10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 11px;
        color: #979797;
        cursor: pointer;
        z-index: 1;
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
    }

    .main-navigation ul li.menu-item-has-children svg:hover {
        color: #111111;
    }

    .header-t-search form.search-form {
        border: 2px solid #ebebeb;
        border-radius: 10px;
    }

    form.search-form input.search-field {
        width: calc(100% - 60px);
    }

    form.search-form label[for="submit-field"] {
        width: 60px;
    }

    ul.social-icons li {
        margin-left: 3px;
    }

    /*.main-header .site-branding {
        width: 35%;
        }*/
    .main-header .header-social {
        width: 64%;
    }

    .header-social ul.social-icons {
        display: inline-block;
        vertical-align: middle;
    }

    .entry-meta>span {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .category .fa+span {
        display: none;
    }

    .site.toggle-active {
        background: #eee;
        left: 50%;
    }

    .site::before {
        content: "";
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
        z-index: 999;
    }

    .site.toggle-active:before,
    .site.sidebar-active:before {
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible;
    }


    .header-t .blog-wrapper {
        padding-left: 0;
        padding-right: 0;
        margin: 60px 0 30px 0;
    }

    nav.main-navigation,
    .header-t-search {
        float: none;
        width: 100%;
    }

    .header-t-search {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 30px;
    }

    .main-header .toggle-button {
        margin-left: 3px;
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        text-align: center;
        width: 56px;
        height: 56px;
        line-height: 56px;
        font-size: 20px;
        cursor: pointer;
        vertical-align: middle;
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
    }

    .main-header .toggle-button:hover {
        background: #06c286;
        border-color: #06c286;
        color: #fff;
    }

    .site-header .sidebar-wrap button.toggle-button:hover {
        background: none;
        border-color: transparent;
    }

    .main-navigation ul li {
        display: block;
        font-size: 18px;
    }

    .main-navigation ul li a {
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }

    .main-navigation ul.nav-menu>li:first-child>a {
        padding-left: 25px;
    }

    .main-navigation ul li ul {
        background: rgba(0, 0, 0, 0.03);
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
    }

    .main-navigation ul li.menu-item-has-children .submenu-toggle {
        position: absolute;
        background-color: transparent;
        border: 0;
        top: 12px;
        right: 10px;
        display: inline-block;
        width: 30px;
        height: 23px;
        text-align: center;
        padding: 0;
        line-height: 30px;
        font-size: 11px;
        color: #979797;
        cursor: pointer;
        z-index: 1;
        transition: all ease 0.35s;
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
    }

    .main-navigation ul li.menu-item-has-children .submenu-toggle.active svg {
        transform: rotate(180deg);
    }

    .main-navigation ul li.menu-item-has-children svg:hover {
        color: #111111;
    }

    .header-t-search form.search-form {
        border: 2px solid #ebebeb;
        border-radius: 10px;
    }

    form.search-form input.search-field {
        width: calc(100% - 60px);
    }

    form.search-form label[for="submit-field"] {
        width: 60px;
    }

    /*.main-header .site-branding {
        width: 35%;
        }*/
    .main-header .header-social {
        width: 64%;
    }

    .header-social ul.social-icons {
        display: inline-block;
        vertical-align: middle;
    }

    .entry-meta>span {
        margin-right: 20px;
        margin-bottom: 5px;
    }

    .category .fa+span {
        display: none;
    }

    .header-1 .toggle-button {
        display: inline-block;
    }

    .header-1 .sidebar-toggleButton {
        margin-top: 0;
    }

    .header-1 .main-header {
        padding: 25px 0;
    }

    .header-1 .main-navigation ul.nav-menu>li:first-child>a {
        padding: 15px 14px;
    }

    .header-1 .header-social,
    .header-1 .header-t-search,
    .header-1 .shopping-cart {
        float: none;
        display: inline-block;
        text-align: center;
        margin-top: 0;
    }

    .header-1 .header-icon-wrap {
        width: 100%;
        float: none;
        padding: 0 15px;
        text-align: center;
    }

    .header-1 .header-t-search .search-btn {
        padding: 0;
        margin-left: 10px;
    }

    .header-1 .header-t-search {
        margin: 0;
        border: 0;
        width: 100%;
    }

    .header-1 .shopping-cart,
    .header-1 .header-t-search {
        border: 0;
        margin-bottom: 15px;
    }

    .header-1 .header-social ul.social-icons {
        margin-bottom: 20px;
    }

    .header-1 .header-t-search form.search-form {
        width: 100%;
    }

    .header-1 .header-t-search form.search-form {
        display: block;
        position: unset;
    }

    .header-1 .header-t-search .search-btn {
        display: none;
    }

    .header-1 .shopping-cart {
        display: none;
    }

    .header-1 .header-t-search form.search-form {
        position: unset;
        display: block !important;
    }

    .header-1 .header-t-search form.search-form label[for="submit-field"] {
        display: block;
        max-width: 20px;
        height: auto;
        height: 60px;
    }

    .header-1 .header-t-search form.search-form input.search-field {
        width: calc(100% - 40px);
        height: 60px;
    }

    .header-1 .header-t-search form.search-form {
        border: 1px solid #dedede;
    }

    .header-1 .header-t,
    .header-1 .header-t {
        border-bottom: none;
        position: fixed;
        background: #fff;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 9999;
        overflow-y: auto;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all ease 0.35s;
        transition: all ease 0.35s;
    }

    .toggle-active .header-1 .header-t,
    .toggle-active .header-1 .header-t {
        visibility: visible;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .header-1 nav.main-navigation {
        text-align: left;
        width: 100%;
    }

    /*======================
        RESPONSIVE NAVIGATION
        =========================*/
    .mobile-responsive {
        display: block;
        position: relative;
    }

    .mobile-responsive .menu-anchor {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        font-family: 'Open sans', sans-serif;
        color: #000;
        display: block;
        height: 51px;
    }

    .mobile-menu-wrap .main-navigation button.toggle-button {
        display: none;
    }

    .mobile-responsive .menu-anchor span.toggle-button {
        text-transform: none;
        font-size: 20px;
    }

    header[class*="header-"] .mobile-responsive .menu-anchor svg {
        margin-right: 10px;
        font-size: 21px;
    }

    .mobile-responsive .mobile-menu-wrap {
        background: #fff;
        padding: 0 0 30px 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
        text-align: center;
    }

    .mobile-responsive nav.main-navigation {
        padding-top: 20px;
    }

    header[class*="header-"] .mobile-responsive nav.main-navigation {
        text-align: center;
        margin-bottom: 30px;
    }

    .mobile-responsive .main-navigation ul li {
        font-size: 18px;
    }

    .mobile-responsive .main-navigation ul li a {
        width: auto;
        position: relative;
    }

    .mobile-responsive .main-navigation ul li.menu-item-has-children svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        top: 20px;
        right: 20px;
        z-index: 9;
    }

    .mobile-responsive .main-navigation ul ul li.menu-item-has-children svg {
        top: 15px;
    }

    header[class*="header-"] .mobile-responsive .header-t-search {
        padding-left: 30px;
        padding-right: 30px;
    }

    header[class*="header-"] .mobile-responsive form.search-form {
        border-width: 2px;
        padding-left: 10px;
        padding-right: 5px;
    }

    header[class*="header-"] .mobile-responsive form.search-form input.search-field {
        height: 60px;
        width: calc(100% - 40px);
    }

    header[class*="header-"] .mobile-responsive form.search-form label[for="submit-field"] {
        max-width: inherit;
        width: 40px;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }

    header[class*="header-"] .mobile-responsive form.search-form input.search-submit {
        width: 40px;
    }

    header[class*="header-"] .mobile-responsive ul.social-icons {
        margin-bottom: 40px;
    }

    header[class*="header-"] .mobile-responsive .header-social ul li {
        margin-bottom: 5px;
    }

    header[class*="header-"] .mobile-responsive .header-social ul li:not(:last-child) {
        margin-right: 5px;
    }

    header[class*="header-"] .mobile-responsive .header-social a {
        width: 45px;
        height: 45px;
        line-height: 45px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        font-size: 18px;
    }

    header[class*="header-"] .mobile-responsive .header-social a:hover {
        background: #06c286;
        border-color: #06c286;
        color: #fff;
    }

}

@media screen and (max-width: 768px) {
    .main-header .toggle-button {
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 16px;
    }

    ul.social-icons li a {
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 14px;
    }

    .article-share ul.social-icons li a {
        font-size: 16px;
    }

    table {
        font-size: 14px;
    }

    .single .article-share {
        width: 100%;
        padding-right: 0;
        margin-bottom: 40px;
    }

    .single .tag-group {
        width: 100%;
    }

    .error404 figure.error-404-img {
        width: 30%;
    }

    .error404 .page-content {
        width: 69%;
        padding-left: 30px;
    }

    .single-template2 .site-content .top-block {
        margin-bottom: 25px;
    }

    .single-template2 .site-content .top-block {
        min-height: 300px;
    }

    .single-template2 .site-content .top-block .text .entry-title {
        font-size: 24px;
        line-height: 28px;
    }

    .single-template2 .site-content article .left-panel {
        margin-right: 0;
        margin-bottom: 15px;
        float: none;
        width: 100%;
    }

    .single-template2 .site-content article .social-share li {
        display: inline-block;
    }

    .single-template2 .site-content .top-block .text-wrap {
        position: relative;
    }

    .single-template1 .site-content article .left-panel,
    .single-template2 .site-content article .left-panel {
        position: static;
    }
}

@media screen and (max-width: 640px) {
    .site.toggle-active {
        left: -80%;
    }

    .header-1 .header-t {
        width: 80%;
    }

    .main-header {
        padding: 30px 0 50px 0;
    }

    .main-header .site-branding {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .site-branding .site-logo {
        width: 50%;
        margin: 0 auto;
    }

    .main-header .header-social {
        width: 100%;
        text-align: center;
    }

    .entry-title {
        font-size: 22px;
    }

    article.post .entry-content {
        font-size: 18px;
    }

    .top-footer .blog-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .footer-author {
        width: 100%;
        text-align: center;
    }

    .page-header .page-title {
        font-size: 30px;
    }

    blockquote {
        padding-left: 40px;
        padding-right: 40px;
    }

    .single .article-author {
        padding-left: 0;
        padding-right: 0;
    }

    .comment-list article.comment-body {
        padding-left: 50px;
    }

    .comment-author img {
        width: 40px;
        height: 40px;
    }

    .comments-area ol.children {
        margin-left: 30px;
    }

    .site.toggle-active {
        left: 50%;
    }

    .header-1 .header-t,
    .header-1 .header-t {
        width: 50%;
    }

    .top-footer .widget {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 540px) {

    .header-1 .header-t {
        width: 250px;
    }

    .site-branding .site-logo {
        width: 75%;
    }

    .rightsidebar #secondary,
    .leftsidebar #secondary {
        margin-bottom: 70px;
    }

    #primary,
    article.post {
        margin-bottom: 70px;
    }

    figure.post-thumbnail {
        margin-bottom: 20px;
    }

    article.post .article-content {
        width: 100%;
    }

    article.post header.entry-header {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    article.post .entry-footer {
        margin-top: 35px;
    }

    .article-share.share-active svg.fa-share {
        opacity: 1;
        visibility: visible;
    }

    .search-result figure.post-thumbnail {
        width: 100%;
        margin-bottom: 40px;
    }

    .search-result article .article-content {
        width: 100%;
        padding-left: 0;
    }

    .related-posts .related-post-block {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .related-posts .related-post-block:last-child {
        margin-bottom: 0;
    }

    .comment-reply-title small {
        margin-left: 0;
        margin-top: 20px;
    }

    .comment-respond p.comment-form-author,
    .comment-respond p.comment-form-email,
    .comment-respond p.comment-form-url {
        width: 100%;
        margin-right: 0;
    }

    .error404 figure.error-404-img {
        width: 100%;
        text-align: center;
    }

    .error404 .page-content {
        width: 100%;
        padding-left: 0;
        margin-top: 40px;
    }
}

.btn-form-close {
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23121212' viewBox='0 0 32 32'%3E%3Cpath d='M32,2.3L29.7,0L16,13.7L2.3,0L0,2.3L13.7,16L0,29.7L2.3,32L16,18.3L29.7,32l2.3-2.3L18.3,16L32,2.3z'/%3E%3C/svg%3E");
    background-color: transparent;
    top: 14px;
    z-index: 9999;
    right: 5px;
    width: 15px;
    height: 15px;
    padding: 0px;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    border-radius: 0;
    transition: unset !important;
}

.btn-form-close:focus {
    appearance: visible;
    opacity: 1;
}

.site-header .header-t-search form.search-form label[for="submit-field"] {
    display: block;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: none;
    width: 17px;
    height: 17px;
    padding: 0;
    top: 0px;
    right: 36px;
}

.site-header .header-t-search form.search-form .submit-field span {
    display: none;
}

.site-header .header-t-search form.search-form .search-submit {
    position: relative;
    top: -43px;
    height: 34px;
    width: 22px;
}

.site-header .header-t-search form.search-form .search-submit:focus {
    opacity: 1;
    outline: 1px dotted rgba(0, 0, 0, 0.6);
}

.site-header .header-t-search form.search-form .search-submit::after {
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-search fa-w-16' aria-hidden='true' data-prefix='fa' data-icon='search' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' data-fa-i2svg=''%3E%3Cpath fill='currentColor' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'%3E%3C/path%3E%3C/svg%3E");
    width: 17px;
    height: 18px;
    padding: 0;
    float: right;
    text-indent: -9999px;
    margin: 9px 8px 0 0;
}


@media only screen and (max-width:800px) {
    .menu-anchor .toggle-button {
        background-color: transparent;
        border: 0;
        color: #000;
    }

    .menu-anchor .toggle-button:focus {
        outline: 1px dotted rgba(0, 0, 0, 1);
    }

    .close.close-main-nav-toggle {
        display: none;
        position: absolute;
        top: 12px;
        left: 48%;
        transform: translateX(-36%);
        background-color: transparent;
        color: #000;
        border: 0;
        padding: 0 0 0 32px;

    }

    .close.close-main-nav-toggle::before,
    .close.close-main-nav-toggle::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        transform: rotate(45deg);
        background-color: rgba(0, 0, 0, 1);
        top: 45%;
        left: 0;
    }

    .close.close-main-nav-toggle::after {
        transform: rotate(-45deg);
    }

    .main-navigation.mobile-navigation .sub-menu {
        margin-left: 0;
        display: none;
    }

    .header-social {
        margin-top: 40px;
    }

    header.site-header .mobile-responsive ul.social-icons {
        display: flex;
        margin-top: 18px;
        margin-bottom: 0;
    }


}

@media only screen and (min-width:800px) {

    /* Menu arrow */
    .main-navigation ul li.menu-item-has-children::before {
        position: absolute;
        top: 21px;
        right: -3px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg class='svg-inline--fa fa-angle-down fa-w-10' aria-hidden='true' data-prefix='fas' data-icon='angle-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' data-fa-i2svg=''%3E%3Cpath fill='%23979797' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 10px;
        height: 12px;
        font-weight: 400;
    }

    .main-navigation ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children::before {
        top: 15px;
        right: 14px;
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }

    .close.close-main-nav-toggle,
    button.toggle-button {
        display: none !important;
    }
}

@media only screen and (max-width:800px) {
    html {
        position: unset !important;
        top: 0 !important;
    }

    body {
        padding-top: 0px !important;
    }
}